<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
}

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:85px;
        }

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Covid-19</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li ><a href="/andhra">Andhra</a></li>
            <li ><a href="/flag">Active Cases</a></li>
            <li class="active" ><a href="/precaution">Precautions</a></li>
            <li ><a href="/status">Live Reports</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container page-top">



      <div class="row">


          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-1.png?sfvrsn=3d15aa1c_2" class="fancybox" rel="ligthbox">
                  <img  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-1.png?sfvrsn=3d15aa1c_2" class="zoom img-fluid "  alt="">
                 
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-2.png?sfvrsn=2bc43de1_2"  class="fancybox" rel="ligthbox">
                  <img  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-2.png?sfvrsn=2bc43de1_2" class="zoom img-fluid"  alt="">
              </a>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-4.tmb-479v.png?sfvrsn=a5317377_5" class="fancybox" rel="ligthbox">
                  <img  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-4.tmb-479v.png?sfvrsn=a5317377_5" class="zoom img-fluid "  alt="">
              </a>
          </div>
   
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/202001/un_precautions_coronavirus-x1080.png?dG_dZ5GRD6vw91UbuG3CACteGTkIKnJM" class="fancybox" rel="ligthbox">
                <img  src="https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/202001/un_precautions_coronavirus-x1080.png?dG_dZ5GRD6vw91UbuG3CACteGTkIKnJM" class="zoom img-fluid "  alt="">

            </a>
        </div>  
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a href="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-3.tmb-479v.png?sfvrsn=b1ef6d45_1" class="fancybox" rel="ligthbox">
              <img  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-3.tmb-479v.png?sfvrsn=b1ef6d45_1" class="zoom img-fluid "  alt="">

          </a>
      </div>  
                   
     </div>

   
    

  </div>


  <script>
 
    </script>
   
  </body>
</html>


